{% extends 'dashboard/layout.html' %}
{% block content %}

    <div class="content">
    <div>
        <table class="table table-striped table-inverse w-100">
        <tr>
            <th>id</th>
            <th>Username</th>
            <th>Email</th>
            <th colspan="3" aria-colspan="true" class="text-center">Actions</th>

        {% for user in users %}
            <tr data-id="{{user.id}}">
            <td scope="row"><a>{{user.id}}</a></td>
            <td scope="row"><a>{{user.username}}</a></td>
            <td scope="row"><a>{{ user.email }}</a></td>
            <td scope="row"><a href="" style="color:#fff" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
            </td>
            <td scope="row"><a href="" style="color:#fff" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></a>
            </td>
        </tr>
        {% endfor %}

    </table>
    </div>

    </div>


{% endblock content %}